<ul class="navbar-nav collapse navbar-collapse mr-5" id="main-nav">
    <li class="search-mobile border-0 w-100 pb-1 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" id="autoC" name="q" placeholder="Search...">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-main border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </li>
    <li class="nav-item d-block d-lg-none mx-2 mr-auto">
        <a class="text-uppercase font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>
    <li class="nav-item dropdown mr-auto">
        <a class="text-uppercase font-weight-bold nav-link nav-color mx-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
        </div>
    </li>

    <li class="nav-item mr-auto">
        <a class="text-uppercase font-weight-bold nav-link nav-color mx-2" href="{% url 'products' %}?category=accessories" id="accessories-link" aria-haspopup="true" aria-expanded="false">
            Accessories
        </a>
    </li>

    <li class="nav-item mr-auto">
        <a class="text-uppercase font-weight-bold nav-link nav-color mx-2" href="{% url 'products' %}?category=lighting" id="lighting-link" aria-haspopup="true" aria-expanded="false">
            Lighting
        </a>
    </li>

    <li class="nav-item dropdown mr-auto">
        <a class="text-uppercase font-weight-bold nav-link nav-color mx-2" href="#" id="water-care-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Water Care
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="water-care-link">
            <a href="{% url 'products' %}?category=salt_additives" class="dropdown-item">Salts and Additives</a>
            <a href="{% url 'products' %}?category=water_filters" class="dropdown-item">Water Filters</a>
        </div>
    </li>

    <li class="nav-item dropdown mr-auto">
        <a class="text-uppercase font-weight-bold nav-link nav-color mx-2" href="#" id="test-kits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test Kits
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="test-kits-link">
            <a href="{% url 'products' %}?category=reagents" class="dropdown-item">Reagents</a>
            <a href="{% url 'products' %}?category=calibration_storage_solutions" class="dropdown-item">Calibration/Storage Solutions</a>
            <a href="{% url 'products' %}?category=water_analysis_kits" class="dropdown-item">Water Analysis Kits</a>
        </div>
    </li>
</ul>
<ul class="list-group list-group-horizontal d-none d-lg-flex">
    <li class="mx-1 nav-color text-uppercase"><a href="mailto:info@aquariasupplies.ie" class="text-decoration-none"><i class="fas fa-envelope"></i> Contact</a></li>
    <li class="mx-1 nav-color"><a href="#" class="text-decoration-none"><i class="fas fa-clock"></i> 09:00 - 17:00</a></li>
    <li class="mx-1 nav-color"><a href="#" class="text-decoration-none"><i class="fas fa-phone"></i> 00353831122411</a></li>
</ul>