{% extends "base.html" %}

{% block extra_meta %}
<title>{{request.site.name}} - User Access</title>
<meta name="description" 
      content="Aquaria Supplies European supplier of aquarium products including salt and fresh water.
      Irish supplier of Hanna Instruments, Modern Reef and Vyair products."/>
<meta name="keywords" 
      content="aquaria supplies, hanna instruments, vyair, modern reef, reef test kits, reef and coral additives"/>
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="overlay"></div>
        <div class="row allauth-center">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}